/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Saira+Semi+Condensed:wght@600&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap'); */
@font-face {
	font-family: Mulish;
	src: url('/assets/fonts/mulish/Mulish-VariableFont_wght.ttf');
}
@font-face {
	font-family: Saira;
	src: url('/assets/fonts/saira/Saira-Bold.woff2') format('woff2'),
		url('/assets/fonts/saira/Saira-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Saira;
	src: url('/assets/fonts/saira/Saira-Black.woff2') format('woff2'),
		url('/assets/fonts/saira/Saira-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Saira;
	src: url('/assets/fonts/saira/Saira-ExtraBold.woff2') format('woff2'),
		url('/assets/fonts/saira/Saira-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Saira;
	src: url('/assets/fonts/saira/Saira-SemiBold.woff2') format('woff2'),
		url('/assets/fonts/saira/Saira-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Saira;
	src: url('/assets/fonts/saira/Saira-Light.woff2') format('woff2'),
		url('/assets/fonts/saira/Saira-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Saira;
	src: url('/assets/fonts/saira/Saira-Medium.woff2') format('woff2'),
		url('/assets/fonts/saira/Saira-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Saira;
	src: url('/assets/fonts/saira/Saira-Thin.woff2') format('woff2'),
		url('/assets/fonts/saira/Saira-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Saira;
	src: url('/assets/fonts/saira/Saira-ExtraLight.woff2') format('woff2'),
		url('/assets/fonts/saira/Saira-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Saira;
	src: url('/assets/fonts/saira/Saira-Regular.woff2') format('woff2'),
		url('/assets/fonts/saira/Saira-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Karla;
	src: url('/assets/fonts/karla/Karla-Regular.woff2') format('woff2'),
		url('/assets/fonts/karla/Karla-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Karla;
	src: url('/assets/fonts/karla/Karla-Bold.woff2') format('woff2'),
		url('/assets/fonts/karla/Karla-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Karla;
	src: url('/assets/fonts/karla/Karla-BoldItalic.woff2') format('woff2'),
		url('/assets/fonts/karla/Karla-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Karla;
	src: url('/assets/fonts/karla/Karla-Italic.woff2') format('woff2'),
		url('/assets/fonts/karla/Karla-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: '#FFFFFF';
	font-family: 'Saira', Roboto, Oxygen, sans-serif;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
	/* always update according tpp bar height  */
	min-height: calc(100vh - 84px);
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.vAlignCenter {
	display: flex;
	align-items: center;
}

/* css to remove the  :increment :decrement button in the number text field */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}
/* end */
