@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');
@font-face {
	font-family: Mulish;
	src: url('/fonts/Mulish-VariableFont_wght.ttf');
}
html,
body {
	padding: 0;
	margin: 0;
	background-color: '#FFFFFF';
	font-family: 'Mulish', Roboto, Oxygen, sans-serif;
	width: 100vw;
	overflow-x: hidden;
	/* always update according tpp bar height  */
	min-height: calc(100vh - 84px);
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.vAlignCenter {
	display: flex;
	align-items: center;
}

/* css to remove the  :increment :decrement button in the number text field */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}
/* end */
